body {
    background: #1D1D1D;
    color: #fff;
    font-family: Helvetica, Arial, sans-serif;
}

.hl {
    font-size: 200%;
    text-align: center;
    display: block;
    font-weight: lighter;
}

.header {
    width: 100%;
    padding-top: 60px;
    height: 100px;
    background: url('nerbula.jpg') center;
    background-size: cover;
}
